fastapi==0.95.0
uvicorn[gunicorn]==0.22.0  
psycopg2-binary==2.9.3  
sqlalchemy==2.0.14  
asyncpg==0.27.0 
pydantic==1.10.4  
docker==6.0.1  
tortoise-orm==0.19.3
passlib==1.7.4
passlib[bcrypt]
python-jose==3.3.0
databases
passlib[bcrypt]
python-multipart
alembic
email-validator
python-dotenv
pytest
httpx
pytest-asyncio
black
isort
flake8
gunicorn
asyncpg
PyJWT==2.8.0
python-decouple
bcrypt